:root {
    /* Light theme */
    --c-light-text: #333;
    --c-light-background: #dedede;
    --c-light-interactive: mediumvioletred;
    /* Dark Theme */
    --c-dark-text: #fff;
    --c-dark-background: #333;
    --c-dark-interactive: palegreen;
}

* {
    margin: 0;
    padding: 0;
    --transi: all 400ms;
    user-select: none;
    text-decoration: none;
}

/* Allows the body's children to grow to 100% of the viewport's height */
html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {

    display: flex;
    flex-direction: column;
}

.theme-container {
    display: flex;

    flex-direction: column;

    align-items: center;

    /* Make the light theme the default */
    --c-text: var(--light-text);
    --c-background: var(--c-light-background);
    --c-interactive: var(--c-light-interactive);
    color: var(--c-text);
    background-color: var(--c-background);
}


.theme-container .cat {
    position: absolute;
    transition: var(--transi);
    opacity: .9;
    z-index: 1;
}
.dark-mode-checkbox:checked~.theme-container .msg{
    display: none;
}
.theme-container .msg{
    position: absolute;
	 transition: var(--transi);
    z-index: 2;
    margin-top: 4rem;
    opacity: 0;
    animation: fade 5s 1.6s ease-in-out forwards;
	
}

.theme-container .cat:where(:hover, :focus, :active) ~ .msg{
	opacity:1 !important;
	
	
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.theme-container .msg p{
    position: relative;
    margin-left: 22rem;
    font-size: 2rem;
    background: rgb(6, 255, 218);
    border-radius: 12px;
    padding: 10px;
}
@media (max-width:646px) {
    .theme-container .msg p {
           margin-left:16rem;
            font-size: 1.6rem;
            
        }
	.theme-container .msg  {
           margin-top:20%;
            
        }
}
.dark-mode-checkbox:checked~.theme-container .cat {
    display:none;

}

.theme-container .contact-con {
    transition: var(--transi);
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    aspect-ratio: 1/1;
    width: 500px;
    box-shadow: 20px 20px 60px #acacac,
        -20px -20px 60px #ffffff;
    border: 1px solid #fff;
}

@media (max-width:501px) {
    .theme-container .contact-con {
        transition: var(--transi);
        border-radius: 0px !important;
    }
	 .theme-container .msg p {
           margin-left:0;
            font-size: 1.6rem;
            
        }
	.theme-container .msg  {
           margin-top:40%;
            transition: var(--transi);
        }

}

/* From uiverse.io by @alexruix */
.input-group {
    position: relative;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: var(--transi);
}

.first {
    margin-bottom: 1em;
    margin-top: 2em;
}

.user-label {
    position: absolute;
    left: 15px;
    color: var(--c-light-text);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: ease-in-out;
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #000000;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--c-background);
    padding: 0 .2em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

/* From uiverse.io by @alexmaracinaru */
.btn {
    margin-top: 1rem;
}

.cta {
    border: none;
    background: none;
    margin-left: 20px;
}

.cta span,
.contact p {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 13px;
    padding-right: 15px;
    text-transform: uppercase;
}

.contact p {
    font-size: 1.2rem;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}
.btn:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dark-mode-checkbox:checked~.theme-container {
    transition: var(--transi);
    /* Override the default theme */
    --c-text: var(--c-dark-text);
    --c-background: var(--c-dark-background);
    --c-interactive: var(--c-dark-interactive);
    background: #05012a;
}

.dark-mode-checkbox~.theme-container .link {
    margin-top: 2rem;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.dark-mode-checkbox:checked~.theme-container .link a {
    color: cyan;
}

.dark-mode-checkbox~.theme-container .link a {
    color: var(--c-light-text);
}

.dark-mode-checkbox:checked~.theme-container .hover-underline-animation {
    color: #ffffff;
}

.dark-mode-checkbox:checked~.theme-container .hover-underline-animation:after {
    background: -webkit-gradient(linear, left top, right top, from(#0ff), to(#04faa4));
    background: linear-gradient(90deg, #0ff, #04faa4);
}

.dark-mode-checkbox:checked~.theme-container #arrow-horizontal {
    background: -webkit-gradient(linear, left top, right top, from(#0ff), to(#04faa4));
    background: linear-gradient(90deg, #0ff, #04faa4);
    border-radius: 5px;
}

.dark-mode-checkbox:checked~.theme-container .contact-con {
    border-radius: 60px;
    -webkit-box-shadow: 50px 50px 100px #020011,
        -50px -50px 100px #080243;
    box-shadow: 50px 50px 100px #020011,
        -50px -50px 100px #080243;
    border: 1px solid #05012d;
}

.dark-mode-checkbox:checked~.theme-container .input:focus,
.dark-mode-checkbox:checked~.theme-container input:valid {
    border: 1.5px solid var(--c-text);
}

.dark-mode-checkbox:checked~.theme-container input {
    color: var(--c-text);
}

.dark-mode-checkbox:checked~.theme-container .input:focus~label,
.dark-mode-checkbox:checked~.theme-container input:valid~label {
    background: #05012a;
    color: var(--c-text);
}

.dark-mode-label {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid var(--c-light-text);
    padding: 5px;
}

a {
    color: var(--c-interactive);
}

.dark-mode-checkbox:checked~.theme-container .dark-mode-label::before {
    content: "\2611";
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

/* Grow the content Area */
.grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    transition: var(--transi);
}

.footer footer {
    text-transform: uppercase;
    opacity: .7;
}



.btn:hover{
    cursor: pointer;
}
#btn:hover{
    cursor: pointer;
}